* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}

/* #main {
  height: 300px;
  width: 100%;
  background-color: coral;
  border-top: 1px solid transparent;
}

#child {
  height: 100px;
  width: 100%;
  background-color: yellow;
  margin-top: 50px;
}

child div move with parent both from margin top, it is a glitch of css to fix this we have to give our main div a transparent border-top and it fix . after fix only child move not main parent div move from margin top.  */

/* main div new code start here */

#main {
  height: 100%;
  width: 100%;
  /* background-color: #dadada; */
  display: flex;
}

/* left code  */

#left {
  height: 100%;
  width: 40%;
  position: relative;
}

/* inside left div have txt div and in txt dix have 3 tags h1, p, a tag */

#left #txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#txt h1 {
  font-size: 80px;
}

#txt p {
  opacity: 0.5;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#txt a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  font-size: 12px;
  opacity: 0.6;
}
/* right  */

#right {
  height: 100%;
  width: 60%;
  background-color: royalblue;
}

/* rtop code */

#rtop {
  width: 100%;
  height: 50%;
  background-color: purple;
  display: flex;
}

/* inside rtop code rtop-left and rtop-right */

#rtop-left {
  height: 100%;
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#rtop-left h1 {
  font-size: 70px;
  color: #fff;
  margin-left: 40px;
}

#rtop-right {
  height: 100%;
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1540331547168-8b63109225b7?q=80&w=1919&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 -70px;
}

/* rbtotom code */

#rbottom {
  width: 100%;
  height: 50%;
  background-image: url(https://images.unsplash.com/photo-1517816428104-797678c7cf0c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
