* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page4 {
  height: 100%;
  width: 100%;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  height: 300px;
  width: 300px;
  background: linear-gradient(white, salmon);
  border-radius: 50%;
}
